<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css"  media="screen,projection"/>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Slabo+27px');
      </style> 
    <title>Railway ticket booking</title>
    
  </head>

  <body>
      <nav class="light-blue">
          <div class="nav-wrapper">
              <a class="brand-logo">Railway Ticket Booking</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                
              <li><a href="passenger">Passenger</a></li>
              <li><a href="clerk">Clerk</a></li>
              <li><a href="station">Station</a></li>
              <li><a href="train">Train</a></li>
        
              <li><a href="login">Logout</a></li>
            </ul>
          </div>
        </nav>
    
        <div class="row">
                <form class="col s12" action="/admin" method="POST">
                  <div class="row">
                    <div class="input-field col s6">
                      <input id="firstname" type="text" class="validate" name="fname">
                      <label for="firstname" style="color:black">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="lastname" type="text" class="validate" name="lname">
                      <label for="lastname" style="color:black">Last Name</label>
                    </div>
                  </div>
                  
               
        
                  
                          <div class="row">
                                <div class="input-field col s6">
                                  <input id="application number" type="number" class="validate" name="appnum">
                                  <label for="application number" style="color:black">Application number</label>
                                </div>
                              </div>
                              <label for="Submission date" style="color:black">Submission date</label>
                              <input type="date" class="datepicker" name="subdate"/>
                              
                  <input type="submit" class="waves-effect waves-light  btn" color="indigo;" value="Submit" name="Submit"></a>
              </div>
            

              

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
   <script>
     
     </script>
  </body>
</html>